main {
    padding: 0;
  }
  header {
    position: sticky;
    top:0;
    padding:40px;
    background: #996888;
    text-align: center;
    font-family: 'DM Sans';
    color: white;
  }

  /* 

    --jet: #2a2b2aff;
    --eggplant: #5e4955ff;
    --chinese-violet: #996888ff;
    --rosy-brown: #c99da3ff;
    --columbia-blue: #c6ddf0ff;
  
  */

